In [1]:
# [예제 2.25] 기본 설정

import pandas as pd
import xlwings as xw

import matplotlib.pyplot as plt
from matplotlib import font_manager, rc
%matplotlib inline

# font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
# rc('font', family=font_name)
# 맥OS인 경우 위 두 줄을 입력하지 말고 아래 코드를 입력하세요
rc('font', family='AppleGothic')
plt.rcParams['axes.unicode_minus'] = False

In [2]:
!open .

In [4]:
# [예제 2.26] 소득 데이터 읽어오기 

#path = r'C:\Users\JK\Desktop\부동산 데이터\행정구역_시도_별_1인당_지역내총생산__지역총소득__개인소득_20180821155737.xlsx'
path = r'data/행정구역_시도_별_1인당_지역내총생산__지역총소득__개인소득_20180821155737.xlsx'
raw = pd.read_excel(path, sheet_name='데이터', index_col=0)

raw

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
행정구역(시도)별,,,,,,,,,,,,,,,,,
행정구역(시도)별,1인당 개인소득 (천원),1인당 개인소득 (천원),1인당 개인소득 (천원),1인당 개인소득 (천원),1인당 개인소득 (천원),1인당 개인소득 (천원),1인당 개인소득 (천원),1인당 개인소득 (천원),1인당 개인소득 (천원),1인당 개인소득 (천원),1인당 개인소득 (천원),1인당 개인소득 (천원),1인당 개인소득 (천원),1인당 개인소득 (천원),1인당 개인소득 (천원),1인당 개인소득 (천원),1인당 개인소득 (천원)
전국,8602,8964,9419,9848,10493,11198,11656,12407,12883,13173,14068,14706,15256,15799,16394,17222,17653
서울특별시,10119,10616,11185,11787,12493,13453,13955,15130,15401,15405,16495,17215,18018,18565,19104,19962,20506
부산광역시,8231,8539,9024,9364,9835,10581,11077,11825,12469,12791,13672,14694,15430,15972,16369,17170,17599
대구광역시,8253,8481,8886,9261,9711,10482,10925,11562,12017,12315,13376,14183,14635,15047,15851,16686,16987
인천광역시,7761,7979,8409,8766,9378,10021,10489,11074,11625,12056,13022,13513,14167,14714,15549,16299,16974
광주광역시,7985,8426,8686,9175,9657,10499,10997,11665,12180,13107,13464,13927,14528,14849,15341,16105,16575
대전광역시,8047,8461,8864,9391,9912,10697,11313,11963,12439,13229,14205,14801,15280,15721,16207,17064,17680
울산광역시,9714,10394,10952,11517,12667,13555,13931,15380,16046,16260,17329,18507,18694,19011,19238,19963,19496
경기도,8865,9126,9672,9952,10554,11181,11583,12084,12592,12697,13592,14303,14773,15384,16131,17130,17752
강원도,7485,7833,8294,8676,9284,9681,10090,10779,11194,11908,12499,12775,13304,13600,14454,15142,15542
충청북도,7834,8093,8538,9006,9621,10286,10783,11354,11845,12287,13122,13341,14061,14456,14761,15658,16158
충청남도,8092,8280,8610,9047,9966,10171,10645,11184,11564,11870,13299,13472,14239,15122,15727,16303,16666
전라북도,7611,8086,8195,8668,9289,9840,10316,11150,11666,12225,12828,13542,13711,14447,14994,15849,16052
전라남도,7148,7579,7768,8317,9017,9495,9926,10639,11148,11664,12429,12675,13018,13484,13829,14703,14971
경상북도,7938,8165,8647,8898,9687,10332,10670,11260,11764,12212,12883,13395,13966,14435,14901,15462,15653
경상남도,7855,8412,8697,9156,9828,10425,10952,11680,12412,12699,13431,14016,14201,14876,15575,16293,16326
제주특별자치도,8512,8477,9084,9395,9689,10746,10867,11501,11949,13598,13683,14593,15059,15429,15537,16247,16607

In [5]:
# [예제 2.27] 첫 번째 행 제거

raw.drop(['행정구역(시도)별'], inplace=True)

In [8]:
raw
raw.columns.name

In [9]:
# [예제 2.28] 인덱스의 시도 이름을 약어로 변경하기 

index_list = raw.index
new_index = []
for temp in index_list:
    if temp[-1] == '시':
        new_index.append(temp[:2])
    elif temp[-1] == '도':
        if len(temp) == 3:
            new_index.append(temp[:2])
        elif len(temp) == 4:
            new_index.append(temp[0] + temp[2])
        else:
            new_index.append('제주')
    else:
        new_index.append(temp)
        
raw.index = new_index

In [10]:
# [예제 2.29] 컬럼과 인덱스 서로 바꾸기 

income_data = raw.T

income_data

,전국,서울,부산,대구,인천,광주,대전,울산,경기,강원,충북,충남,전북,전남,경북,경남,제주
2000,8602,10119,8231,8253,7761,7985,8047,9714,8865,7485,7834,8092,7611,7148,7938,7855,8512
2001,8964,10616,8539,8481,7979,8426,8461,10394,9126,7833,8093,8280,8086,7579,8165,8412,8477
2002,9419,11185,9024,8886,8409,8686,8864,10952,9672,8294,8538,8610,8195,7768,8647,8697,9084
2003,9848,11787,9364,9261,8766,9175,9391,11517,9952,8676,9006,9047,8668,8317,8898,9156,9395
2004,10493,12493,9835,9711,9378,9657,9912,12667,10554,9284,9621,9966,9289,9017,9687,9828,9689
2005,11198,13453,10581,10482,10021,10499,10697,13555,11181,9681,10286,10171,9840,9495,10332,10425,10746
2006,11656,13955,11077,10925,10489,10997,11313,13931,11583,10090,10783,10645,10316,9926,10670,10952,10867
2007,12407,15130,11825,11562,11074,11665,11963,15380,12084,10779,11354,11184,11150,10639,11260,11680,11501
2008,12883,15401,12469,12017,11625,12180,12439,16046,12592,11194,11845,11564,11666,11148,11764,12412,11949
2009,13173,15405,12791,12315,12056,13107,13229,16260,12697,11908,12287,11870,12225,11664,12212,12699,13598
2010,14068,16495,13672,13376,13022,13464,14205,17329,13592,12499,13122,13299,12828,12429,12883,13431,13683
2011,14706,17215,14694,14183,13513,13927,14801,18507,14303,12775,13341,13472,13542,12675,13395,14016,14593
2012,15256,18018,15430,14635,14167,14528,15280,18694,14773,13304,14061,14239,13711,13018,13966,14201,15059
2013,15799,18565,15972,15047,14714,14849,15721,19011,15384,13600,14456,15122,14447,13484,14435,14876,15429
2014,16394,19104,16369,15851,15549,15341,16207,19238,16131,14454,14761,15727,14994,13829,14901,15575,15537
2015,17222,19962,17170,16686,16299,16105,17064,19963,17130,15142,15658,16303,15849,14703,15462,16293,16247
2016,17653,20506,17599,16987,16974,16575,17680,19496,17752,15542,16158,16666,16052,14971,15653,16326,16607

In [11]:
# [예제 2.30] 소득 데이터 전처리 과정 함수화 

def income_preprocessing(path):
    # path : KB 데이터 엑셀 파일의 디렉토리 (문자열)
    
    raw = pd.read_excel(path)
    raw.drop([0], inplace=True)
    raw.set_index('행정구역(시도)별', inplace=True)
    index_list = raw.index
    new_index = []
    for temp in index_list:
        if temp[-1] == '시':
            new_index.append(temp[:2])
        elif temp[-1] == '도':
            if len(temp) == 3:
                new_index.append(temp[:2])
            elif len(temp) == 4:
                new_index.append(temp[0] + temp[2])
            else:
                new_index.append('제주')
        else:
            new_index.append(temp)

    raw.index = new_index
    income_data = raw.T
    return income_data


income_data_path = r'data/행정구역_시도_별_1인당_지역내총생산__지역총소득__개인소득_20180821155737.xlsx'
income_data = income_preprocessing(income_data_path)

In [28]:

path = r'data/★(월간)KB주택가격동향_시계열(2019.01)12831994601335062.xls'
data_type = '매매종합'
wb = xw.Book(path)                
sheet = wb.sheets[data_type]   
type(sheet)
row_num = sheet.range((1,1)).end('down').end('down').end('down').row  
row_num
# data_range = 'A2:GE' + str(row_num)
# data_range = 'A2:GE401'
# raw_data = sheet[data_range].options(pd.DataFrame, index=False, header=True).value 
# raw_data

401

In [32]:
# [예제 2.31] KB 가격지수 데이터 가져오기 

def KBpriceindex_preprocessing(path, data_type):
    # path : KB 데이터 엑셀 파일의 디렉토리 (문자열)
    # data_type : ‘매매종합’, ‘매매APT’, ‘매매연립’, ‘매매단독’, ‘전세종합’, ‘전세APT’, ‘전세연립’, ‘전세단독’ 중 하나
    
    wb = xw.Book(path)                
    sheet = wb.sheets[data_type] 
    
    row_num = sheet.range((1,1)).end('down').end('down').end('down').row  
    data_range = 'A2:GE' + str(row_num)
#     data_range = 'A2:GE401'
    raw_data = sheet[data_range].options(pd.DataFrame, index=False, header=True).value 
    
    bignames = '서울 대구 부산 대전 광주 인천 울산 세종 경기 강원 충북 충남 전북 전남 경북 경남 제주도 6개광역시 5개광역시 수도권 기타지방 구분 전국'
    bigname_list = bignames.split(' ')
    big_col = list(raw_data.columns)
    small_col = list(raw_data.iloc[0])

    for num, gu_data in enumerate(small_col):
        if gu_data == None:
            small_col[num] = big_col[num]

        check = num
        while True:
            if big_col[check] in bigname_list:
                big_col[num] = big_col[check]
                break
            else:
                check = check - 1
                
    big_col[129] = '경기' 
    big_col[130] = '경기'
    small_col[185] = '서귀포'
    
    raw_data.columns = [big_col, small_col]
    new_col_data = raw_data.drop([0,1])
    
    index_list = list(new_col_data['구분']['구분'])

    new_index = []

    for num, raw_index in enumerate(index_list):
        temp = str(raw_index).split('.')
        if int(temp[0]) > 12 :
            if len(temp[0]) == 2:
                new_index.append('19' + temp[0] + '.' + temp[1])
            else:
                new_index.append(temp[0] + '.' + temp[1])
        else:
            new_index.append(new_index[num-1].split('.')[0] + '.' + temp[0])

    new_col_data.set_index(pd.to_datetime(new_index), inplace=True)
    cleaned_data  = new_col_data.drop(('구분', '구분'), axis=1)
    return cleaned_data



path = r'data/★(월간)KB주택가격동향_시계열(2019.01)12831994601335062.xls'
data_type = '매매APT'
price_data = KBpriceindex_preprocessing(path, data_type)
price_data

                 전국       서울                                               \
                 전국       서울       강북      강북구      광진구      노원구      도봉구
1986-01-01  20.9731  17.1529   24.274     None     None     None     None
1986-02-01  20.9731  17.1827  24.2342     None     None     None     None
1986-03-01  20.9345  17.1529  24.1944     None     None     None     None
1986-04-01  20.8186   17.034  24.0352     None     None     None     None
1986-05-01  20.6641  16.9448  23.7169     None     None     None     None
1986-06-01  20.5483  16.7665  23.7169     None     None     None     None
1986-07-01  20.4324   16.707  23.7169     None     None     None     None
1986-08-01  20.3938   16.707  23.7169     None     None     None     None
1986-09-01  20.4324  16.7367  23.7965     None     None     None     None
1986-10-01  20.4324  16.6773  23.7567     None     None     None     None
1986-11-01  20.2393  16.4989  23.7965     None     None     None     None
1986-12-01  20.0848  16.2908  23.7567     None     None     None     None
1987-01-01  20.0462  16.2908  23.6771     None     None     None     None
1987-02-01  19.9689  16.2314  23.5577     None     None     None     None
1987-03-01  19.9689  16.1422   22.921     None     None     None     None
1987-04-01  19.9689  16.0233  22.6027     None     None     None     None
1987-05-01  20.0075  16.0233  22.6027     None     None     None     None
1987-06-01  20.0075  15.9638  22.2445     None     None     None     None
1987-07-01  20.0848  15.9638  22.2047     None     None     None     None
1987-08-01  20.2007  16.1125  22.1252     None     None     None     None
1987-09-01  21.0504  16.5881  22.6027     None     None     None     None
1987-10-01  21.5525  16.8259  23.1996     None     None     None     None
1987-11-01  21.9001   17.034  23.2792     None     None     None     None
1987-12-01  21.9774  17.0638  23.6771     None     None     None     None
1988-01-01  22.4409  17.3908  23.8761     None     None     None     None
1988-02-01  23.1747  18.0448  25.1097     None     None     None     None
1988-03-01    23.87   18.461   25.428     None     None     None     None
1988-04-01  24.3721  18.8474  25.9055     None     None     None     None
1988-05-01  24.8742  19.0555  26.3831     None     None     None     None
1988-06-01  25.1446  19.1447  26.4229     None     None     None     None
...             ...      ...      ...      ...      ...      ...      ...
2016-08-01  95.0424  82.0763  83.2061  85.5296  81.9544  83.4778  83.3328
2016-09-01  95.1864  82.4338  83.4893  85.8286  82.1536  83.8026  83.5036
2016-10-01  95.4624  83.0253  83.9759  86.3096  82.4312  84.3426   83.745
2016-11-01  95.7645  83.5734  84.5363  86.7809  82.8648   84.871  84.2085
2016-12-01  95.8431  83.6564   84.681  86.9323  83.0042  85.0075  84.2513
2017-01-01  95.8625  83.6799  84.7621   87.062  83.0318   85.184  84.3273
2017-02-01  95.8663   83.712  84.8192  87.1227  82.9924  85.3111  84.3815
2017-03-01  95.8833  83.7957  84.8876  87.1542   83.007  85.4563  84.4216
2017-04-01  95.9159   83.911   84.988  87.2256  83.0513  85.5837  84.5425
2017-05-01  95.9624  84.0954  85.1157  87.3018  83.2426  85.7195  84.6513
2017-06-01  96.1766  84.8129  85.7676  87.6023  84.4789  86.6308  85.1853
2017-07-01   96.427  85.5413  86.5229  87.8696   84.983   87.928  86.1326
2017-08-01  96.7024    86.44   87.389  88.6433  86.0924  89.0067  87.3505
2017-09-01  96.7567  86.5691  87.5596  88.9465  86.5273  88.9425  87.4265
2017-10-01  96.8537  86.9553  87.9047  89.1701  87.2415  89.1132  87.7004
2017-11-01    96.98  87.4942  88.3703  89.5528  88.4544  89.3219  88.0527
2017-12-01  97.0968  88.0725   88.777  89.7843  89.3358  89.4983  88.4095
2018-01-01  97.2988  89.0618   89.381  89.9225  90.7394  89.6321  88.8207
2018-02-01  97.4972  89.9397   89.997  90.2517  92.1078  90.0334  89.0844
2018-03-01  97.7636  91.0677  91.0304  90.6799  93.8976   90.724   89.578
2018-04-01  97.8966  91.8071  91.6836  91.0572  94.5549  91.1696  90.1543
2018-05-01   97.948  92.1726  92.0463  91.2819  94.7166  91.3508  90.9359
2018-06-01  98.0026  92.5314  92.3843  91.7417  94.7193  91.4554  91.1742
2018-07-01  98.0223  93.0204  92.9039  91.9075  95.0213  91.8042  91.5131
2018-08-01  98.2492  94.1066  93.8299  92.3238  95.3939  92.7366  92.5774
2018-09-01  99.3156  97.7155  97.3781  97.4254   98.136  96.9043   96.709
2018-10-01  99.9258   99.512  99.3301  99.4855  99.6651  99.2299  98.9141
2018-11-01   100.03  99.9051  99.8288  99.9023  99.9635  99.8544  99.6861
2018-12-01  100.028  100.014  99.9964  99.9389      100  100.022    99.94
2019-01-01      100      100      100      100      100      100      100

                                       ...       경남                    \
               동대문구      마포구     서대문구  ...      의창구      진해구       양산
1986-01-01     None     None     None  ...     None     None     None
1986-02-01     None     None     None  ...     None     None     None
1986-03-01     None     None     None  ...     None     None     None
1986-04-01     None     None     None  ...     None     None     None
1986-05-01     None     None     None  ...     None     None     None
1986-06-01     None     None     None  ...     None     None     None
1986-07-01     None     None     None  ...     None     None     None
1986-08-01     None     None     None  ...     None     None     None
1986-09-01     None     None     None  ...     None     None     None
1986-10-01     None     None     None  ...     None     None     None
1986-11-01     None     None     None  ...     None     None     None
1986-12-01     None     None     None  ...     None     None     None
1987-01-01     None     None     None  ...     None     None     None
1987-02-01     None     None     None  ...     None     None     None
1987-03-01     None     None     None  ...     None     None     None
1987-04-01     None     None     None  ...     None     None     None
1987-05-01     None     None     None  ...     None     None     None
1987-06-01     None     None     None  ...     None     None     None
1987-07-01     None     None     None  ...     None     None     None
1987-08-01     None     None     None  ...     None     None     None
1987-09-01     None     None     None  ...     None     None     None
1987-10-01     None     None     None  ...     None     None     None
1987-11-01     None     None     None  ...     None     None     None
1987-12-01     None     None     None  ...     None     None     None
1988-01-01     None     None     None  ...     None     None     None
1988-02-01     None     None     None  ...     None     None     None
1988-03-01     None     None     None  ...     None     None     None
1988-04-01     None     None     None  ...     None     None     None
1988-05-01     None     None     None  ...     None     None     None
1988-06-01     None     None     None  ...     None     None     None
...             ...      ...      ...  ...      ...      ...      ...
2016-08-01  82.6791  79.6682  83.2177  ...  113.497   111.79  101.716
2016-09-01  82.9958  80.0139  83.4954  ...    113.2  111.758  101.677
2016-10-01   83.555  80.5931  84.1588  ...   113.17  111.679  101.768
2016-11-01  84.1534  81.4518  84.9128  ...  113.157  111.311   102.12
2016-12-01  84.2297  81.7571  85.1143  ...  113.012  111.181  102.267
2017-01-01  84.2679  81.8458  85.2171  ...  112.747  111.085  102.364
2017-02-01  84.3522  81.9313   85.275  ...  112.524  110.744  102.386
2017-03-01  84.4079  81.9608  85.3795  ...  112.352  110.614  102.424
2017-04-01   84.438  82.1235  85.4797  ...  112.266   110.45  102.278
2017-05-01  84.5862  82.3144  85.5682  ...  112.032  109.931  102.233
2017-06-01  84.9394  83.0512  85.7785  ...  111.624  109.805  102.147
2017-07-01  85.5199  83.8164  86.2986  ...  111.053   109.64  101.968
2017-08-01  86.3552  84.9226  86.9197  ...  110.645  109.209  101.906
2017-09-01  86.6489  85.2931  87.1118  ...  110.159  108.199  101.774
2017-10-01  86.9662  85.6803  87.5688  ...  109.487  108.075  101.702
2017-11-01     87.3  86.4441  88.2315  ...  108.316  107.513   101.44
2017-12-01  87.5834  87.2258  88.7503  ...  107.644  107.186  101.289
2018-01-01  88.2308  88.3635  88.9961  ...  107.319  106.711  101.158
2018-02-01  89.0308  89.2688  89.3776  ...  107.054   106.71  101.151
2018-03-01  90.2666   90.209  90.5932  ...  106.523  106.305  101.177
2018-04-01  91.1831  91.0379  91.3977  ...  105.114  104.892  100.967
2018-05-01  91.4255  91.4911  91.9394  ...   104.73  103.965  100.907
2018-06-01  91.9507  92.0668  92.7111  ...  104.358  102.659  100.703
2018-07-01  92.5648  92.9829  93.5144  ...  102.878  102.096   100.47
2018-08-01  93.1749  94.5235  94.7035  ...  101.923  101.217  100.321
2018-09-01  97.2555  97.8992  97.3124  ...  100.907  100.918  100.307
2018-10-01  99.3051  99.6217  99.3714  ...  100.665   100.55  100.234
2018-11-01  99.8751  99.8593  99.8144  ...  100.472  100.248  100.213
2018-12-01      100  99.9887      100  ...  100.232  100.091      100
2019-01-01      100      100      100  ...      100      100      100

                                                 제주도              기타지방
                 거제       진주       김해       통영   제주도      서귀포     기타지방
1986-01-01     None     None     None     None  None     None     None
1986-02-01     None     None     None     None  None     None     None
1986-03-01     None     None     None     None  None     None     None
1986-04-01     None     None     None     None  None     None     None
1986-05-01     None     None     None     None  None     None     None
1986-06-01     None     None     None     None  None     None     None
1986-07-01     None     None     None     None  None     None     None
1986-08-01     None     None     None     None  None     None     None
1986-09-01     None     None     None     None  None     None     None
1986-10-01     None     None     None     None  None     None     None
1986-11-01     None     None     None     None  None     None     None
1986-12-01     None     None     None     None  None     None     None
1987-01-01     None     None     None     None  None     None     None
1987-02-01     None     None     None     None  None     None     None
1987-03-01     None     None     None     None  None     None     None
1987-04-01     None     None     None     None  None     None     None
1987-05-01     None     None     None     None  None     None     None
1987-06-01     None     None     None     None  None     None     None
1987-07-01     None     None     None     None  None     None     None
1987-08-01     None     None     None     None  None     None     None
1987-09-01     None     None     None     None  None     None     None
1987-10-01     None     None     None     None  None     None     None
1987-11-01     None     None     None     None  None     None     None
1987-12-01     None     None     None     None  None     None     None
1988-01-01     None     None     None     None  None     None     None
1988-02-01     None     None     None     None  None     None     None
1988-03-01     None     None     None     None  None     None     None
1988-04-01     None     None     None     None  None     None     None
1988-05-01     None     None     None     None  None     None     None
1988-06-01     None     None     None     None  None     None     None
...             ...      ...      ...      ...   ...      ...      ...
2016-08-01  120.986  99.6918  111.589    110.7  None  97.6642  105.054
2016-09-01   120.73  99.9081  111.574  110.624  None  98.1763  105.043
2016-10-01   120.07   100.23  111.737  110.294  None  99.0558  105.046
2016-11-01  119.475  100.642   111.82  110.048  None  100.283  105.015
2016-12-01  118.976  100.774   111.73  109.993  None  100.921  104.936
2017-01-01  117.603   100.97   111.73  109.491  None  101.273  104.831
2017-02-01  117.232  101.284  111.484  109.491  None  101.349   104.75
2017-03-01   116.73  101.318   111.28  109.095  None  101.454  104.656
2017-04-01  116.357  101.462  111.182  109.054  None  101.452   104.59
2017-05-01  115.565  101.619  111.031  108.561  None  101.391  104.513
2017-06-01  115.208  101.777  110.954  108.561  None  101.332   104.45
2017-07-01  114.558  102.198  110.576  108.561  None  101.265  104.347
2017-08-01  113.592  102.308  109.731  108.019  None  101.236  104.161
2017-09-01   112.89   102.38  109.036  107.103  None  101.005  103.944
2017-10-01  112.546  102.638  108.743  107.033  None  100.875  103.794
2017-11-01  111.988  102.917  108.296  106.604  None  100.724  103.615
2017-12-01   111.76  102.931  107.905  106.271  None  100.694  103.473
2018-01-01   110.79  103.009   107.58  106.055  None   100.54  103.295
2018-02-01   110.79  103.005  107.019  105.684  None   100.54  103.187
2018-03-01  110.408  102.992  106.639  105.462  None  100.484  103.056
2018-04-01  109.013  102.892  105.892  104.632  None  100.288  102.708
2018-05-01  107.775  102.857  105.265  104.508  None  100.288  102.468
2018-06-01  106.659  102.734  104.788  104.246  None  100.277  102.226
2018-07-01  104.584  102.421  103.725  103.722  None   100.03  101.747
2018-08-01  104.055  102.241  103.395  103.471  None  100.007  101.477
2018-09-01  102.729  101.876  102.743  102.949  None  100.006  101.208
2018-10-01  100.737  101.412  101.794  101.546  None  100.035  100.821
2018-11-01  100.388  100.854  100.992  100.594  None  100.102  100.344
2018-12-01      100  100.257   100.44  100.182  None   100.04   100.08
2019-01-01      100      100      100      100  None      100      100

[397 rows x 186 columns]

In [ ]:
# [예제 2.32] 특정 지역들의 부동산 가격지수 변화와 개인소득 변화를 subplot으로 나타내기 

location_list = ['전국', '서울', '부산', '대구', '대전' ,'광주', '경기']
start_year = '2004'
end_year = '2016'

num_row = int((len(location_list)-1)/2)+1
plt.figure(figsize=(12, num_row*5))
for j, location in enumerate(location_list):
    year_data = []
    for i in range(int(start_year), int(end_year) + 1):
        if location == '제주도':
            year_data.append(price_data[location]['서귀포'][str(i)+'.12.1'])
        else:
            year_data.append(price_data[location][location][str(i)+'.12.1'])

    temp_df = pd.DataFrame(income_data[location][start_year:end_year])
    temp_df.columns = [location + '소득']
    temp_df[location + '부동산 가격지수'] = year_data
    temp_df['소득 변화율'] = (temp_df[location + '소득']/temp_df[location + '소득'][0] - 1 )*100
    temp_df['부동산 기격 지수 변화율'] = (temp_df[location + '부동산 가격지수']/temp_df[location + '부동산 가격지수'][0] - 1 )*100

    plt.subplot(num_row, 2, j+1)
    plt.title(location + ', ' + start_year + ' ~ ' + end_year + '까지')
    plt.plot(temp_df['부동산 기격 지수 변화율'], label=location + ' 부동산 가격 지수 변화율')
    plt.plot(temp_df['소득 변화율'], label=location + ' 소득 변화율')
    plt.legend()

In [ ]:
# [예제 2.33] PIR 데이터 가져오기 (ch02/ 2.2 ‘기준’이 필요해!.ipynb)

path = r' 여러분이 내려 받은 KB 엑셀파일의 디렉터리를 넣으세요 \ KB엑셀 파일명.xls'
wb = xw.Book(path)                
sheet = wb.sheets['PIR(월별)']   
row_num = sheet.range('J2').end('down').row  
data_range = 'B2:N' + str(row_num)
pir_rawdata = sheet[data_range].options(pd.DataFrame, index=False, header=True).value

In [ ]:
# [예제 2.34] 지역을 구분하는 상위 컬럼 만들기 

big_col = list(pir_rawdata.columns)
big_col[0] = 'index1'
big_col[1] = 'index2'
big_col[2] = 'index3'

for num, col in enumerate(big_col):
    if col == None:
        big_col[num] = big_col[num - 1]
    else:
        pass

In [ ]:
# [예제 2.35] 소득 분위를 나타내는 하위 컬럼 만들기 

small_col = list(pir_rawdata.loc[1])
small_col[0] = 'index1'
small_col[1] = 'index2'
small_col[2] = 'index3'

In [ ]:
# [예제 2.36] 이중 컬럼 설정 

pir_rawdata.columns = [big_col, small_col]
pir_rawdata.drop([0,1], inplace=True)

In [ ]:
# [예제 2.37] 상위 인덱스 설정

big_index = list(pir_rawdata['index1']['index1'])
for num, index in enumerate(big_index):
    if index is not None:
        if type(index) == str:
            big_index[num] = '20' + index.split(".")[0][1:] + '.' + index.split(".")[1][:2]
        else:
            big_index[num] = big_index[num - 1].split(".")[0] + "." +  str(int(index))
    else:
        big_index[num] = big_index[num - 1]

In [ ]:
# [예제 2.38] 하위 인덱스 및 이중 인덱스 설정  

small_index = list(pir_rawdata['index3']['index3'])
pir_rawdata.index = [pd.to_datetime(big_index), small_index]

del pir_rawdata['index1']
del pir_rawdata['index2']
del pir_rawdata['index3']

pir_rawdata.index.names = ['날짜', '평균주택가격']

In [ ]:
pir_rawdata.xs('3분위', level='평균주택가격')

In [ ]:
# [예제 2.39] 서울 각 소득 분위의 3분위 주택가격 시계열 subplot으로 나타내기  

gagus = ['1분위', '2분위', '3분위', '4분위', '5분위']
location = '서울 Seoul'
num_row = int((len(gagus)-1)/2)+1

plt.figure(figsize=(10, num_row*5))
for i, gagu in enumerate(gagus):
    plt.subplot(num_row, 2, i+1)
    plt.title(gagu + " 가구의 중간값(3분위) 주택가격 PIR")
    plt.plot(pir_rawdata.xs('3분위', level='평균주택가격')[location][gagu])
    
plt.show()

In [ ]:
pir_rawdata

In [ ]:
# [예제 2.40] PIR 그래프에 평균값 추가하기 

gagus = ['1분위', '2분위', '3분위', '4분위', '5분위']
location = '서울 Seoul'
house_price_level = '3분위'
num_row = int((len(gagus)-1)/2)+1

plt.figure(figsize=(10, num_row*5))
for i, gagu in enumerate(gagus):
    plt.subplot(num_row, 2, i+1)
    plt.title(gagu + " 가구의 중간값(" + house_price_level + ") 주택가격 PIR")
    plt.plot(pir_rawdata.xs(house_price_level, level='평균주택가격')[location][gagu])
    indx = pir_rawdata.xs(house_price_level, level='평균주택가격')[location][gagu].index
    long_mean = pir_rawdata.xs(house_price_level, level='평균주택가격')[location][gagu].mean()
    plt.plot(indx, [long_mean for a in range(len(pir_rawdata.xs(house_price_level, level='평균주택가격')[location][gagu]))])
    
plt.show()